<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拼多多操作页面</title>
	<!-- <link rel="stylesheet" type="text/css" href="./css/base.css"/> -->
	<style>
		.box {
			margin-left: 20%;
		}
		.box ul li{
			list-style: none;
			margin-top: 10px;
			font-size: 18px;
			font-weight: bold;
			border-radius: 5px;
		}
		.span1{
			display: inline-block;
			width: 200px;
		}
		.download:hover{
			color: red;
		}
	</style>
</head>
<body>
    <div class="box">
		<ul>
			<li>
				<span class="span1">软件下载链接：</span>
				<a class="download" href="http://www.sxtyyd.com/api/download/download">http://www.sxtyyd.com/api/download/download</a>
			</li>
			<li>
				<span class="span1">授权码(切勿泄漏)：</span>
				<span>{$pddtoken}</span>
			</li>
			<li>
				<span class="span1">联系方式：</span>
				<span>11111111111</span>
			</li>
			<li>
				<div>说明书</div>
				<img src="./timg.jpg">
			</li>
		</ul>
    </div>
</body>
</html>