<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拼多多操作页面</title>
	<!-- <link rel="stylesheet" type="text/css" href="./css/base.css"/> -->
	<style>
		.box {
			margin-left: 20%;
		}
		.box ul li{
			list-style: none;
			margin-top: 10px;
			font-size: 18px;
			font-weight: bold;
			border-radius: 5px;
		}
		.span1{
			display: inline-block;
			width: 200px;
		}
		.download:hover{
			color: red;
		}
	</style>
</head>
<body>
    <div class="box">
		<ul>
			<li>
				<span class="span1">软件下载链接：</span>
				<a class="download" href="https://www.sxtyyd.com/api/download/download">https://www.sxtyyd.com/api/download/download</a>
			</li>
			<li>
				<span class="span1">授权码(切勿泄漏)：</span>
				<span>{$pddtoken}</span>
			</li>
			<li>
				<span class="span1">联系方式：</span>
				<span>(029) 8955 3322</span>
			</li>
			<li>
				<span class="span1">QQ交流：</span>
				<span>1657515930</span>
			</li>
			<li>
				<div>说明书</div>
				<div>
					<div id="u1" class="ax_default _图片" style="position:absolute;left:0;">
						<img id="u1_img" class="img " src="__HOME__/home/pddimg/e81fc4bfd3be010144bd22c4f7a8d7f.png"/>

					</div>
				</div>
			</li>
		</ul>
    </div>
</body>
</html>
