<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <link rel="stylesheet" href="__HOME__/home/css/layui.css">
    <link rel="stylesheet" href="__HOME__/home/css/default.css">

    <script type="text/javascript" src="__HOME__/home/js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="__HOME__/home/js/index.js" ></script>
    <script type="text/javascript" src="__HOME__/home/js/jquery.event.drag-1.5.min.js" ></script>
    <script type="text/javascript" src="__HOME__/home/js/jquery.touchSlider.js" ></script>
    <script type="text/javascript" src="__HOME__/home/js/jquery.SuperSlide.2.1.1.js" ></script>
    <script src="__HOME__/home/layui.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=08e06131a020ca0c08490f57d2908292"></script>
</head>
<body>
<!--遮罩层-->
<div id="mask_cover"></div>
<!--回到顶部-->
<div class="back_top">
    <div class="quick_toggle">
        <ul>
            <li class="gotop"></li>
        </ul>
    </div>
</div>