{include file="public/header"}
<title>产品</title>
<link rel="stylesheet" href="__HOME__/home/css/pro.css">
<div class="layui-fluid bgcimg">
    <div class="header cleafix">
        {include file="public/nav"}
    </div>
    <div class="layui-row bgclogo">
        <img src="__HOME__/home/images/2c240952f68b986d8fe33bd14eca736.png">
    </div>
    <div class="layui-row bgccontent">
        软件名称
    </div>
    <div class="layui-row topxq">
        致力于给用户提供优质的用户体验、最省钱的购物方式
    </div>
    <div class="layui-row borders"></div>
    <div class="layui-row xiangqing">
        拼多多店群上货管理软件，数上千店群掌柜的见证，采集、上货、清理僵尸产品，一键直达上家，您想要的功能都有
        更多功能更新中……
    </div>
    <div class="layui-row prologo">
        <ul>
            <li>
                <img src="__HOME__/home/images/50+50悬浮图标2.png">
            </li>
            <li>
                <img src="__HOME__/home/images/50+50悬浮图标.png">
            </li>
            <li>
                <img src="__HOME__/home/images/50+50悬浮图标2.png">
            </li>
        </ul>

    </div>
    <div class="layui-row btns">
        <ul>
            <li><a href="#">立即下载</a></li>
            <li><a href="#">软件教程</a></li>
        </ul>
    </div>
</div>
<div class="layui-fluid bgcimg2">
    <div>
        <div class="layui-row bgccontent procontent">
            产品聚焦
        </div>
        <div class="layui-row borders proborder"></div>
        <div class="layui-row topxq proxq">
            给用户提供优质的用户体验
        </div>
        <div class="layui-row layui-anim layui-anim-rotate proimgs">
            <img src="__HOME__/home/images/pro.png" >
        </div>
    </div>
    <div>
        <div class="layui-row bgccontent procontent">
            产品应用效果
        </div>
        <div class="layui-row borders proborder"></div>
        <div class="layui-row topxq proxq">
            给用户提供优质的用户体验
        </div>
        <div class="layui-row pro_content">
            <ul>
                <li>
                    <span class="num">1</span>
                    <span class="cons">给用户提供优质的用户体验给用户提供优质</span>
                </li>
                <li>
                    <span class="num">2</span>
                    <span class="cons">给用户提供优质的用户体验给用户提供优质</span>
                </li>
                <li>
                    <span class="num">3</span>
                    <span class="cons">给用户提供优质的用户体验给用户提供优质</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer -->
{include file="public/footer"}
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;

    });
</script>
