<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>my-project</title>
    <link href=/static/css/app.5836c1145ff26aa51fcdedd0e9c15201.css rel=stylesheet>
</head>
<body>
<div id=app></div>

<script type=text/javascript src=/static/js/0.803b20e4b17eba1a18f9.js></script>
<script type=text/javascript src=/static/js/manifest.a16b9e5e2fe20951523f.js></script>
<script type=text/javascript src=/static/js/vendor.2bf0d8414a5aea599a86.js></script>
<script type=text/javascript src=/static/js/app.f03848cbcab7d589141e.js></script>
</body>
</html>
