<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>my-project</title>
    <link href=./static/css/app.ca52d4a5488d312e0d57532c46f2cb39.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=./static/js/manifest.846c234c1dd23b94a873.js></script>
<script type=text/javascript src=./static/js/vendor.2bf0d8414a5aea599a86.js></script>
<script type=text/javascript src=./static/js/app.3e76885f7a867113a7a2.js></script>
<script type=text/javascript src=./static/js/0.a03e6f3e501dbb469192.js></script>
</body>
</html>
