<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>吾境</title>
    <link href=/static/css/app.a9f374ff8fb2ab0d2b7d429dce7cff8e.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.3fa56797247f424562d8.js></script>
<script type=text/javascript src=/static/js/vendor.30ee898ce35a3b20f6eb.js></script>
<script type=text/javascript src=/static/js/app.bc14fbada901e3e7e893.js></script>
<script type=text/javascript src=/static/js/0.12cd77c603145ae203ae.js></script>
</body>
</html>
