	/* 遮罩层 */
#mask_cover{
	position:absolute;
	z-index:999;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa000000',endColorstr='#aa000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa000000', endColorstr='#aa000000')";      /*IE8*/ 
} 

/* 回到顶部 */
.back_top{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 170px;
	right:2%;
	z-index: 9999;
}
.quick_toggle ul li {
	width: 50px;
	height: 50px;
	background: url(../images/top.png) no-repeat;
	cursor: pointer;
}
.quick_toggle ul li:hover{
	background: url(../images/top_hov.png) no-repeat;
}
/*回到顶部*/
.quick_toggle ul li.gotop{
	z-index: 1;
}
.quick_toggle ul li.gotop em{
	display: inline-block;
	width: 70px;
	height: 80px;
	background: url(../images/store_ico11.png) center center no-repeat;
}
.quick_toggle ul li.gotop em:hover{
	background: url(../images/store_ico11_hov.png) center center no-repeat;
}
@-webkit-keyframes toolbar-scaleIn{
	from{
		opacity:.7;
		-webkit-transform:translateX(270px)
	}
	to{
		-webkit-transform:translateX(0px)
	}
}
@-ms-keyframes toolbar-scaleIn{
	from{
		opacity:.7
	}
}
@-moz-keyframes toolbar-scaleIn{
	from{
		opacity:.7;
		-moz-transform:translateX(270px)
	}
	to{
		-moz-transform:translateX(0px)
	}
}
@keyframes toolbar-scaleIn{
	from{
		opacity:.7;
		transform:translateX(270px)
	}
	to{
		transform:translateX(0px)
	}
}
@-webkit-keyframes toolbar-scaleOut{
	to{
		opacity:.5;
		-webkit-transform:scale(0.7) translateX(270px)
	}
}

@-ms-keyframes toolbar-scaleOut{
	to{
		opacity:.5
	}
}

@-moz-keyframes toolbar-scaleOut{
	to{
		opacity:.5;
		-moz-transform:scale(0.7) translateX(270px)
	}
}

@keyframes toolbar-scaleOut{
	to{
		opacity:.5;
		transform:scale(0.7) translateX(270px)
	}
}

/*banner-nav*/
.top_navs{
	position: relative;
}
#navs_list{
	width: 710px;
	height: 65px;
	background-color: rgba(255, 255, 255, 1);
	right: 65px;
	position: absolute;
	display: none;
}
 #navs_list li {
	margin: 16px 0;
	display: inline-block;
	color: rgba(0, 36, 84, 1);
	padding: 0 5%;
	border-right:1px solid rgba(0, 36, 84, 1);
	text-align: left;
	font-size: 22px;
}
#navs_list li:last-child{
	border-right:none;
}
.navxian{
	cursor: pointer;
}
.avatar a{
	color: #0b42c9;
}
/*banner*/
.layui-fluid{
    padding: 0;
	margin: 0;
}
.bgcimg{
    padding-bottom: 400px;
    background-size: 100% 100%;
    background-image: url(../images/12.png);
    background-repeat: no- repeat; 
	z-index: 999999;
}
/* main */
body{
	background-size: 100% 100%;
	background-image: url(../images/产品中心背景.png);
	background-repeat: no- repeat; 
}
.procontent{
	width: 93%;
	margin: 0px auto;
	height: 60px;
	padding-top: 30px;
	display: inline-block;
}
.box2{
	width: 100%;
	border-bottom:3px solid #113cd3;
}
.procontent h3{
	color: rgba(80, 80, 80, 1);
	font-size: 3.125rem;
	font-weight: bold;
	width: 50%;
}
.pddlogo{
	display: inline-block;
}
.topxq{
	width: 98%;
	margin: 20px auto;
	letter-spacing: 6px;
	color: rgba(80, 80, 80, 1);
	font-size: 1.625rem;
	font-weight: bold;
}	
/*问题解决方案*/
.solutions{
	margin: 0px auto;
	padding-left: 10px;
}
.solutions h3{
	letter-spacing: 2px;
	color: rgba(80, 80, 80, 1);
	font-size: 1.5rem;
	font-weight: 500;
	float: left;
}
.liulan{
	float: right;
}
.liulan ul li{
	float: left;
	width: 100px;
}
.liulan ul li img{
	padding: 0 10px;
}
.solutions p{
	color: rgba(80, 80, 80, 0.7);
	font-size: 1.125rem;
	text-indent: 2.5rem;
	margin: 30px 0;
}
.nexts{
	color: rgba(69, 69, 69, 1);
	font-size: 1.125rem;
	margin: 40px 0;

}
/*页脚*/
*{
	box-sizing: unset;
}
.footer{
	margin-top: 100px;
}
#container {
    width: 100%;
    height: 400px;
}
.amap-info-content {
    position: relative;
    background: #fff;
    padding: 10px 18px 10px 10px;
    line-height: 36.4px;
    overflow: auto;
    width: 357px;
    height: 128px;
	background-color: rgba(9,9,9,0.5);
	color: #fff;
	font-size: 13px;
}
@media screen and (min-width:320px) and (max-width:698px){
	/* 导航 */
	.header .logo img{
		width: 120px;
		height: 42px;
	}
	#navs_list {
	    width: 110px;
	    height: 165px;
	    right: 42px;
	    border-radius: 5px;
	    opacity: 0.8;
	}
	#navs_list li {
	    width: 105px;
	    height: 40px;
	    line-height: 40px;
		margin: 0;
	    text-align: center;
	    padding: 0 2%;
		border-right: none;
	    border-bottom: 1px solid #eee;
	    font-size: 14px;
	}
	.top_navs img{
		width: 42px;
	}
	.bgcimg{
		padding-bottom: 150px;
	}
	.procontent{
		width: 77%;
		height: 52px;
	}
	.procontent h3{
		font-size: 30px;
		width: 81%;
	}
	.pddlogo{
		display: inline-block;
		vertical-align: middle;
	}
	.topxq{
		font-size: 20px;
		letter-spacing: 3px;
	}
	.solutions h3{
		font-size: 16px;
		letter-spacing: 0px;
	}
	.liulan ul li{
		width: 47px;
		text-align: center;
	}
	.liulan ul li img{
		width: 20px;
		height: 18px;
	}
	.solutions p{
		font-size: 15px;
		text-indent: 30px;
	}
	.nexts{
		font-size: 15px;
		text-align: center;
	}
	.nexts div{
		margin-top: 20px;
	}
	#container{
		height: 200px;
	}
	.amap-info-content{
		width: 200px;
		height: 100px;
		line-height: 23px;
		font-size: 10px;
	}
}