{include file="public/header"}
<link rel="stylesheet" href="__HOME__/home/css/style.css">
<div class="layui-fluid bgcimg">
    <div class="header cleafix">
        {include file="public/nav"}
    </div>
    <div class="layui-row bgclogo">
        <img src="__HOME__/home/images/compoty_logo.png">
    </div>
    <div class="layui-row bgccontent">
        专|业|化|一|体|式|电|子|商|务
    </div>
    <div class="layui-row ches_navs cleafix">
        <ul>
            <li><a href="{:url('product/production')}">产品中心</a></li>
            <li><a href="{:url('index/index')}">服务中心</a></li>
            <li><a href="{:url('product/solution')}">产品解决方案</a></li>
            <li><a href="{:url('index/about')}">关于我们</a></li>
        </ul>
        <!-- <div class="clear"></div> -->
    </div>
    <div class="layui-row guide">
        <img src="__HOME__/home/images/guide.png">
    </div>
</div>
<div class="layui-container">
    <div class="layui-row main">
        <!-- 产品中心 -->
        <div >
            <div class="layui-row nav_title">
                <div class="nav_title1">
                    <span>产品中心</span>
                </div>
                <div class="nav_title2"></div>
                <p>以开放、分享的为原则致力于给用户提供优质的用户体验</p>
            </div>
            <div class="layui-row procudt1">
                <ul id="procudt_ul">
                    <li class="procudt1_down">
                        <div>
                            <img src="__HOME__/home/images/img92301719c355c78.png">
                            <a href="#">点击下载</a>
                        </div>
                    </li>
                    <li class="procudt1_down">
                        <div>
                            <img src="__HOME__/home/images/img92301719c355c78.png">
                            <a href="#">点击下载</a>
                        </div>
                    </li>
                    <li class="procudt1_down">
                        <div>
                            <img src="__HOME__/home/images/img92301719c355c78.png">
                            <a href="#">点击下载</a>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- <div class="procudt_features"></div> -->
            <div class="pro">
                <ul>
                    <li>
                        <img src="__HOME__/home/images/官网首页/采集.png" alt="">
                        <h3>全网采集</h3>
                        <span>网络线上搭建自己庞大的用户体系</span>
                    </li>
                    <li>
                        <img src="__HOME__/home/images/官网首页/店铺.png" alt="">
                        <h3>整店复制</h3>
                        <span>网络线上搭建自己庞大的用户体系</span>
                    </li>
                    <li>
                        <img src="__HOME__/home/images/官网首页/一键上货.png" alt="">
                        <h3>上货辅助</h3>
                        <span>网络线上搭建自己庞大的用户体系</span>
                    </li>
                    <li>
                        <img src="__HOME__/home/images/官网首页/2流量.png" alt="">
                        <h3>流量优化</h3>
                        <span>网络线上搭建自己庞大的用户体系</span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- 服务中心 -->
        <div>
            <div class="layui-row nav_title">
                <div class="nav_title1">
                    <span>服务中心</span>
                </div>
                <div class="nav_title2"></div>
                <p>为您提供创造性、实效性的电子商务服务</p>
            </div>
            <div class="layui-tab fuwu">
                <div class="fuwunav">
                    <ul class="layui-tab-title">
                        <li class="layui-this">服务优势</li>
                        <li>服务对象</li>
                        <li>在线咨询</li>
                        <li>服务案例</li>
                    </ul>
                </div>
                <div style="clear: both;"></div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row fuwutixi layui-tab-item layui-show">
                            <ul >
                                <li>
                                    <img src="__HOME__/home/images/官网首页/用户体系.png" alt="">
                                    <h3>用户体系</h3>
                                    <span>网络线上搭建自己庞大的用户体系</span>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/一站式服务.png" alt="">
                                    <h3>一站式服务</h3>
                                    <span>网络线上搭建自己庞大的用户体系</span>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/开放分享.png" alt="">
                                    <h3>开放分享</h3>
                                    <span>网络线上搭建自己庞大的用户体系</span>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/产品研发.png" alt="">
                                    <h3>产品研发</h3>
                                    <span>网络线上搭建自己庞大的用户体系</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row fuwuduixiang">
                            <ul>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/上班.png" alt="">
                                    <p><img src="__HOME__/home/images/官网首页/上班族.png" ></p>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/宝妈.png" alt="">
                                    <p><img src="__HOME__/home/images/官网首页/上班族.png" ></p>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/农作.png" alt="">
                                    <p><img src="__HOME__/home/images/官网首页/上班族.png" ></p>
                                </li>
                                <li>
                                    <img src="__HOME__/home/images/官网首页/学生.png" alt="">
                                    <p><img src="__HOME__/home/images/官网首页/上班族.png" ></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row">
                            <div class="layui-card">
                                <div class="layui-card-header">正在联系您...</div>
                                <div class="layui-card-body">
                                    <form class="layui-form" action="">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">姓名:</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">手机号:</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">备注:</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input block_input" style="height: 80px;">
                                            </div>
                                        </div>
                                        <div class="layui-form-item" >
                                            <div class="layui-input-block" style="width: 40%; margin:auto;">
                                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row fuwuanli">
                            <img src="__HOME__/home/images/官网首页/111.png" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 企业介绍 -->
        <div class="layui-row">
            <div class="nav_title">
                <div class="nav_title1">
                    <span>企业介绍</span>
                </div>
                <div class="nav_title2"></div>
                <p>互联网的开放、分享的精神给予我们的机会</p>
            </div>
            <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-md-offset1 layui-col-sm-offset1 layui-col-xs-offset1">
                <div class="layui-carousel" id="test1" style="margin-top: 60px;">
                    <div carousel-item>
                        <img src="__HOME__/home/images/1000+660企业轮播1.png"  alt=""/>
                        <img src="__HOME__/home/images/1000+660轮播2.png"  alt=""/>
                        <img src="__HOME__/home/images/轮播3.png"  alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer"}
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'carousel','element', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,element = layui.element
            ,carousel = layui.carousel;

        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,height:'500px'
            ,arrow: 'always' //始终显示箭头
            ,interval:'3000'
            ,arrow:'hover'
        });

        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
